/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1630px;
}

.container{
    max-width: 1530px;
    margin: 0 auto;
}

.min-container{
    width: 50%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-style{
    text-decoration: none;
    color: black;
}

p{
    font-size: 1.15rem;
}

h1{
    font-size: 6rem;
    font-weight: 800;
}

h3{
    font-size: 2rem;
}

hr{
    color: gray;
    width: 20%;
}

.style-button{
    padding: 0.6rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

.style-button:hover{
    opacity: 75%;
}

.bg-grey-hov:hover{
    background-color: rgba(242, 238, 232, 0.9);
}

.brd-bttm{
    border-bottom: 1px solid grey;
}
/* COLOR */

.bg-grey-hov{
    background-color: transparent;
}

.c-grey{
    color: grey;
}

.c-blue{
    color: #0061ff;
}

.bg-blue{
    background-color: #0061ff;
    color: white;
}

.bg-grey{
    background-color: #f5f5f5;
}

.bg-green{
    background-color: #a2d39b;
}

.bg-blood{
    background-color: #61082b;
}

.bg-sky{
    background-color: #0093ce;
}

.bg-orange{
    background-color: #ff1c1c;
}

.bg-red{
    background-color: #d5001f;
}

.bg-light-sky{
    background-color: #b4d0e7;
}

.bg-blu{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}

.bg-white{
    background-color: white;
}

/* TOP HEADER STYLE */


nav#top-nav{
    height: 110px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1;
    
}

#left-side,
#right-side{
    align-items: center;
    font-size: 1.3rem;   
}

#right-side{
    justify-content: flex-end;
    padding-right: 2rem;
}

nav#top-nav a,
div#left-side img{
    padding: 0 2rem;
}

nav#top-nav img{
    width: 250px;
}

/* SECOND MENU ON HOVER */

div.second-menu{
    position: relative;
    height: 100%;
    padding-top: 2.5rem;
    width: 195px;
}

div.content-menu{
    display: none;
    width: 100%;
    height: 150px;
    background-color: rgba(242, 238, 232, 0.9);
    position: absolute;
    top: 110px;
}

div.second-menu:hover div.content-menu{
    display: block;
}

div.content-menu a:hover{
    background-color: rgba(182, 179, 174, 0.9);
    display: block;
}

/* STYLE MAIN */
    /* STYLE MAIN HEADER */

header#main-header{
    width: 100%;
    padding-top: 110px;
    align-items: center;
    background-color: #b4d0e7; 
}

article#main-jumbo{
    height: 100%;
    padding: 6rem 2.5rem 0rem;
}

div.box-jumbo{
    position: relative;
    top: 100px;
}

div.box-jumbo div.small-box{
    width: 30%;
}

div.box-jumbo div.small-box button{
    margin: 2rem 0;
}

div.box-jumbo div.small-box span{
    position: absolute;
    top: 400px;
    left: 0;
}

div.box-jumbo div.big-box{
    width: 70%;
}

div.box-jumbo div.big-box img{
    width: 100%;
}



/* MAIN SECTION PLANS */

.internal-space{
    padding: 3rem 3rem 2.5rem 2rem;
}

div#section-title h2{
    padding-top: 11rem;
    padding-bottom: 3rem;
    font-size: 3rem;
}

div.elements{
    justify-content: space-between;
}

div#section-title label{
    font-size: 1.2rem;
    padding-right: 2.5rem;
}

div#section-title input{
    width: 20px;
    height: 20px;
    margin-bottom: 3rem;
}

article.plans{
    width: 30%;
    border: 1px solid gray;
}

article div.user{
    padding: 1rem;
}

div.user span{
    padding-left: 0.5rem;
    font-size: 1.15rem;
}

div.plan-cost{
    line-height: 2;
}


div.plan-cost span#price{
    display: block;
    font-size: 1.1rem;
}


div.plan-description p:nth-last-of-type(even){
    margin: 1.5rem 0;
}

div.try{
    text-align: center;
    margin-top: 2rem;
}

div.elements hr{
    margin-left: 2rem;
    margin-top: 1rem;
}

div.important h4{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

div.important p{
    padding-top: 1.5rem;
}

div#enterprise-bottom{
    width: 100%;
    margin: 3rem 0;
    border: 1px solid grey;
    
}

.bottom-cards div.plan-cost{
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
}

div.info{
    line-height: 3;
    padding: 0 1rem 1rem 1rem;
}

/* SECTION PARTNER */

section.partner-box{
    margin: 15rem auto;
}

div#big-box{
    width: 60%;
}

div#big-box img{
    width: 100%;
    
}

div#small-box{
    width: 40%; 
    padding-left: 5rem;
    padding-top: 2.5rem;
}

div#small-box p{
    padding: 1.5rem 0;
}

div#small-box button{
    border: 1px solid gray;
}




/* SECTION BUSSINES CARDS */

div#cards{
    flex-wrap: wrap;
    justify-content: space-between;
}

article.card{
    width: 30%;
    margin-top: 1rem;
}

div#cards img{
    width: 100%;
}

section.six-cards h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}


/* SECTION INTRODUCTION CUSTOMER */

section.cust-preview{
    margin: 5rem auto;
}

section.cust-preview h2{
    font-size: 3rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

section.cust-preview a{
    font-size: 1.2rem;
}


/* CUSTOMERS LOGO */

section.customers{
    width: 100vw;  
}

div.cubes{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;   
}

div#left-box div,
div#right-box div{
    width: calc(100% / 2);
}

 div.cube img{
    width: 50%;
    filter: invert(100%);
}

div.bordered{
    border: 20px solid #d1e9cd;
}

div#central-box{
    padding: 3rem;
}

div#central-box img{
    width: 300px;
    padding-bottom: 3rem;
}

div#central-box>p{
    padding: 3rem 0;
}



/* SECTION FREE TRIAL BUSSINES */

section.trial-area{
    width: 100vw;
    background-color: #b4d0e7;
}

div.content{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0;
}

div.content h2{
    color: #61082b;
    font-size: 3rem;
}

div.content button{
    padding: 1rem 3rem;
}


/* SECTION FAQ */

div.faq-box h2{
    font-size: 3rem;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

div.question{
    margin-bottom: 13rem;
    line-height: 6;
    position: relative;
}

div.question .fa-solid{
    position: absolute;
    right: 10px;
    padding-top: 45px;
}


/* FAQ ACCORDION */

.displayed:hover .fa-solid{
    transform: rotate(180deg);
    padding-bottom: 45px;
    right: 10px;
}

div.accordion{
    display: none;
}

.displayed:hover .accordion{
    display: inline-block;
    padding: 0 10px;
    line-height: 1.2;
}

/* FOOTER */

#last-footer{
    background-color: black;
    padding: 2rem;
}

article.useful-links ul{
    list-style-type: none;
}

article.useful-links ul li{
    padding: 0.8rem 0;
}

article.useful-links a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

article.useful-links h4{
    color: white;
    font-size: 1.7rem;
    font-weight: 800;
}

nav.footer-nav{
    height: 100%;
    align-items: center;
    margin-bottom: 8rem;
}

article.useful-links{
    width: calc(100% / 5);
}

div.lenguage{
    margin-top: 3rem;
}

div.lenguage select{
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 1.2rem;
}


