/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1624px;
}

.container{
    max-width: 1530px;
    margin: 0 auto;
}

.min-container{
    width: 50%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 1.2rem;
}

.style-button{
    padding: 0.6rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

/* COLOR */

.bg-blue{
    background-color: #0061ff;
    color: white;
}

/* TOP HEADER STYLE */

nav#top-nav{
    height: 110px;
    width: 100%;
    justify-content: space-between;
}

#left-side,
#right-side{
    width: 50%;
    align-items: center;
    font-size: 1.3rem;   
}

#right-side{
    justify-content: flex-end;
    padding-right: 2rem;
}

nav#top-nav a,
div#left-side img{
    padding: 0 2rem;
}

nav#top-nav img{
    width: 250px;
}



/* STYLE MAIN */
    /* STYLE MAIN HEADER */

header#main-header{
    height: 950px;
    width: 100%;
    align-items: center;
    background-color: #b4d0e7; 
}

article#main-jumbo{
    height: 100%;
    padding: 6rem 2.5rem 0rem;
}

div.jumbo-title h1{
    font-size: 6rem;
    font-weight: 800;
    padding-bottom: 5rem;
}

div.box-jumbo div.small-box{
    flex-basis: 35%;
    position: relative;
}

div.box-jumbo div.small-box button{
    margin: 2rem 0;
}

div.box-jumbo div.small-box span{
    position: absolute;
    top: 430px;
    left: 0;
}

div.box-jumbo div.big-box{
    flex-basis: 100%;
}

div.box-jumbo div.big-box img{
    width: 100%;
}



/* MAIN SECTION PLANS */

div#section-title h2{
    padding-top: 11rem;
    padding-bottom: 3rem;
    font-size: 3rem;
}

div#section-title label{
    font-size: 1.2rem;
    padding-right: 2.5rem;
}

div#section-title input{
    width: 20px;
    height: 20px;
    margin-bottom: 3rem;
}

article.plans{
    width: 30%;
    height: 900px;
    border: 1px solid gray;
}

div.elements{
    justify-content: space-between;
}

div#enterprise-bottom{
    width: 100%;
    height: 250px;
    margin: 3rem 0;
    background-color: aqua;
}


/* SECTION PARTNER */

section.partner-box{
    margin: 25rem auto;
}

div#big-box{
    width: 60%;
    height: 500px;
    background-color: violet;

}

div#small-box{
    width: 40%;
    height: 500px;
    background-color: beige;
}

/* SECTION BUSSINES CARDS */

div#cards{
    flex-wrap: wrap;
}

article.card{
    width: calc(100% / 3);
    height: 500px;
    background-color: burlywood;
    border: 4px solid white;
    margin-top: 1rem;
}


/* SECTION INTRODUCTION CUSTOMER */

section.cust-preview{
    margin: 5rem auto;
}


/* CUSTOMERS LOGO */

section.customers{
    width: 100vw;
   
}

div.cubes{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: skyblue;
    flex-wrap: wrap;
}


div#left-box div,
div#right-box div{
    width: calc(100% / 2);
    background-color: beige;
    border: 1px dotted violet;
}

/* SECTION FREE TRIAL BUSSINES */

section.trial-area{
    width: 100vw;
    height: 25vh;
    background-color: #b4d0e7;

}

div.content{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* SECTION FAQ */

div.faq-box{
    height: 60vh;
    background-color: saddlebrown;
}


/* FOOTER */

#last-footer{
    background-color: black;
}

section#footer-top{
    height: 35rem;

}

nav.footer-nav{
    height: 100%;
    align-items: center;
}

article.useful-links{
    width: calc(100% / 5);
    height: 20rem;
    background-color: aquamarine;
    
}

section#bottom-footer{
    height: 8rem;
}