/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 65%;
    margin: 0 auto;
}

.min-container{
    width: 50%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* TOP HEADER STYLE */

nav#top-nav{
    height: 6.5rem;
    width: 100vw;
    background-color: red;
    justify-content: space-between;
}

#left-side,
#right-side{
    width: 35%;
    background-color: aliceblue;
    align-items: center;
}

div#right-side{
    justify-content: end;
}


/* STYLE MAIN */
    /* STYLE MAIN HEADER */

header#main-header{
    height: 75vh;
    width: 100vw;
    align-items: center;
    background-color: #b4d0e7;
    
    
}

article#main-jumbo{
    height: 100%;
    background-color: red;
}


/* MAIN SECTION PLANS */

div#section-title{
    margin: 4rem 0 ;
}

article.plans{
    width: calc(100% / 3);
    height: 900px;
    background-color: blue;
}

div.elements article:nth-of-type(even){
    margin: 0 3rem;
}

div#enterprise{
    width: 100%;
    height: 250px;
    margin: 3rem 0;
    background-color: aqua;
}


/* SECTION PARTNER */

section.partner-box{
    margin: 25rem auto;
}

div#big-box{
    width: 60%;
    height: 500px;
    background-color: violet;

}

div#small-box{
    width: 40%;
    height: 500px;
    background-color: beige;
}

/* SECTION BUSSINES CARDS */

div#cards{
    flex-wrap: wrap;
}

article.card{
    width: calc(100% / 3);
    height: 500px;
    background-color: burlywood;
    border: 4px solid white;
    margin-top: 1rem;
}


/* SECTION INTRODUCTION CUSTOMER */

section.cust-preview{
    margin: 5rem auto;
}


/* CUSTOMERS LOGO */

section.customers{
    width: 100vw;
    height: 40vh;
   
}

div.cubes{
    width: calc(100vw / 3);
    background-color: skyblue;
    flex-wrap: wrap;
}


div#left-box article,
div#right-box article{
    width: calc(100% / 2);
    background-color: beige;
    border: 1px dotted violet;
}

/* SECTION FREE TRIAL BUSSINES */

section.trial-area{
    width: 100vw;
    height: 25vh;
    background-color: #b4d0e7;

}

div.content{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* SECTION FAQ */

div.faq-box{
    
    height: 50rem;
    background-color: saddlebrown;
}